In [76]:
import pandas as pd
import numpy as np

In [77]:
heroes = "Resources/04-Pandas_Homework_Instructions_HeroesOfPymoli_Resources_purchase_data.csv"

In [78]:
purchase_data = pd.read_csv(heroes)
gender_data = []

In [79]:
id_total = len(purchase_data["SN"].unique())
id_frame = pd.DataFrame({"Total Players": [id_total]})
id_frame

   Total Players
0            576

In [80]:
items_total = len(purchase_data["Item ID"].unique())
avg_price = round(purchase_data["Price"].mean(),2)
number_of_purchases = len(purchase_data["Purchase ID"].value_counts())
total_revenue = "${:,.2f}".format(purchase_data["Price"].sum())

In [86]:
purchasing_analysis = pd.DataFrame({ 
                                    "Number of Unique Items": [items_total],
                                    "Average Price": [avg_price],
                                    "Number of Purchases": [number_of_purchases],
                                    "Total Revenue": [total_revenue]})
purchasing_analysis

   Number of Unique Items  Average Price  Number of Purchases Total Revenue
0                     179           3.05                  780     $2,379.77

In [91]:
#gender_count = gender_data.append(purchase_data["Purchase ID"].value_counts())

In [152]:
gender_group = purchase_data.groupby("Gender")
gender_count = gender_group["SN"].nunique()
gender_percent = round((gender_count/id_total)*100,2)
         
gender_summary = pd.DataFrame({"Total Counts": gender_count, "Percentage of Players": gender_percent})

gender_summary["Percentage of Players"] = gender_summary["Percentage of Players"].map("{:.2f}%".format)

gender_summary

                       Total Counts Percentage of Players
Gender
Female                           81                14.06%
Male                            484                84.03%
Other / Non-Disclosed            11                 1.91%

In [182]:
purchase_by_gender = purchase_data.groupby('Gender')
gender_purchase_count = round(purchase_by_gender["Purchase ID"].count(),2)
gender_mean = round(purchase_by_gender["Price"].mean(),2)
total_purchase_value = purchase_by_gender["Price"].sum()
avg_per_person = round(total_purchase_value/gender_count,2)



gender_analysis = pd.DataFrame({"Purchase Count": gender_purchase_count, "Average Purchase Price" : gender_mean, 
                                "Total Purchase Value" : total_purchase_value, "Avg Total Purchase per Person": avg_per_person
       })
gender_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,3.20,361.94,4.47
Male,652,3.02,1967.64,4.07
Other / Non-Disclosed,15,3.35,50.19,4.56

In [194]:
bins = [0,9, 14, 19, 24, 29, 34, 39, 199]
group_labels = ["<10","10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
age_df = pd.cut(purchase_data["Age"], bins, labels = group_labels)
age_df.count()

780